{deps, [
    {parse_trans, ".*", {git, "git://github.com/uwiger/parse_trans", {branch, "master"}}},
    {jsx, ".*", {git, "git://github.com/talentdeficit/jsx", {branch, "master"}}},
    {epgsql, ".*", {git, "git://github.com/epgsql/epgsql", {branch, "master"}}},
    {poolboy, ".*", {git, "git://github.com/devinus/poolboy", {branch, "master"}}},
    {fuse, ".*", {git, "git://github.com/jlouis/fuse", {branch, "master"}}}
]}.
